* {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.App {
  /* background-image: url('./images/lights.jpeg'); */
  background-image: url('https://images.unsplash.com/photo-1513885686838-c4000d2d1cf5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6b763a7529b15b0503dbbbc2936ed1c&auto=format&fit=crop&w=1650&q=80');
  background-size: contain;
  padding-top: 50px;
}

h1 {
  font-size: 100px;
  color: white;
  padding: 20px;
  font-family: 'Codystar', cursive;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 20px;
  /* background-color: white; */
  /* background-image: url('./images/lights.jpeg'); */
}

.closed, .open {
  height: 300px;
  width: 300px;
  /* border: solid 1px grey; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

}

.closed button {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Codystar', cursive;
  background: none;
  border: none;
  color: white;
}

.open {
  background-color: white;
}

.open button {
  border: none;
  background: none;
}

.open img {
  width: 150px;
  border-radius: 25%;
}

.open h4 {
  font-family: 'Codystar', cursive;
  padding: 10px;
  font-size: 14px;
}

h3 {
  font-size: 30px;
  color: white;
  padding: 20px;
  font-family: 'Codystar', cursive;
}

button:focus {outline:0;}

#alert {
  display: none;
  background-color: black;
  border: green 10px dotted;
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  z-index: 5;
  position: absolute;
  top: 35%;
  left: 22%;
  padding: 20px;
  color: white;
}

#alert button {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  display: block;
  font-weight: bold;
}

#alert img {
  width: 75%;
  margin: 20px;
  border-radius: 25%;
}