* {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
  overflow: auto;
}

.App {
  /* background-image: url('./images/lights.jpeg'); */
  background-image: url('https://images.unsplash.com/photo-1513639725746-c5d3e861f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background: url('https://images.unsplash.com/photo-1513639725746-c5d3e861f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  padding-top: 50px;
  width: 100%;
}

h1 {
  font-size: 100px;
  padding: 20px;
  width: 100%;
  font-family: 'Codystar', cursive;
  position: fixed; /* Safari */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.calendar {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 20px;
  /* background-color: white; */
  /* background-image: url('./images/lights.jpeg'); */
}

.closed {
  height: 300px;
  width: 300px;
  /* border: solid 1px grey; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.closed button {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Codystar', cursive;
  background: none;
  border: none;
  color: white;
}

.open {
  background-color: white;
  z-index: 5;
  position: fixed;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: dotted grey 10px;
}

.open button {
  border: none;
  background: none;
}

.open img {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  border-radius: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}

.open h4 {
  font-family: 'Codystar', cursive;
  padding: 10px;
  font-size: 35px;
}

.open h5 {
  font-size: 30px;
}

#x {
  position: absolute;
  bottom: 5px;
  font-size: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-weight: bolder;
}

h3 {
  font-size: 30px;
  color: white;
  padding: 20px;
  font-family: 'Codystar', cursive;
  position: fixed;
  bottom: 0;
}

button:focus {outline:0;}

#alert {
  display: none;
  background-color: black;
  border: green 10px dotted;
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  z-index: 5;
  position: fixed;
  top: 25%;
  left: 22%;
  padding: 20px;
  color: white;
}

#alert button {
  background: none;
  border: none;
  color: red;
  font-size: 25px;
  display: block;
  font-weight: bold;
}

#alert img {
  width: 75%;
  margin: 20px;
  border-radius: 25%;
}
